h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.zvyraznit {
    color: red;
    font-weight: bold;
}

.team {
    display: flex;
    border: 5px solid rgb(201, 201, 201);
    gap: 20px;
    border-radius: 10px;
}

    .team img {
        flex-shrink: 0;
    }

.redbull {
    background-color: #1E41FF;
    color: white;
    font-size: 20px;
}

.Mercedes {
    background-color: #00D2BE;
    color: black;
    font-size: 20px;
}

.Ferrari {
    background-color: #DC0000;
    color: white;
    font-size: 20px;
}

.McLaren {
    background-color: #FF8700;
    color: black;
    font-size: 20px;
}

.Williams {
    background-color: #005AFF;
    color: white;
    font-size: 20px;
}

.RacingBulls {
    background-color: #1E41FF;
    color: white;
    font-size: 20px;
}

.AstonMartin {
    background-color: #006F62;
    color: white;
    font-size: 20px;
}

.Haas {
    background-color: #ff1414;
    color: black;
    font-size: 20px;
}

.Sauber {
    background-color: #09ff00;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.Alpine {
    background-color: #0090FF;
    color: white;
    font-size: 20px;
}

.nastred {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-blok {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 25px;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 12px;
    overflow: hidden;
}

    table th {
        align-items: center;
        background: #111;
        color: white;
        padding: 14px 10px;
        text-align: left;
        letter-spacing: 0.5px;
        font-weight: 600;
    }

    table td {
        padding: 12px 10px;
        background: #f5f5f5;
        border-bottom: 1px solid #e0e0e0;
    }

    table tr:hover td {
        background: #e9e9e9;
    }

ul {
    width: 300px;
    margin: auto;
    padding: 20px;
    list-style: none;
    background: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

    ul li {
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
    }

.hlavicka {
    width: 100%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 15px 0;
}


    .hlavicka a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 8px;
        transition: background-color 0.3s;
    }

        .hlavicka a:hover {
            background-color: #999999;
            color: white;
        }

        .hlavicka a.hlavni {
            background-color: #777777;
            color: white;
        }
