@{
    ViewData["Title"] = "Historia";
}

<h1 class="nastred">Historie formule 1</h1>
<br>
<div class="text-blok">
    <p>
        Formule 1, často označovaná jako vrchol automobilového sportu, oficiálně vznikla roku 1950, kdy se konal první
        Mistrovství světa jezdců. První závod se jel v Silverstonu a byl součástí nové série, která sjednotila pravidla
        pro různé evropské Grand Prix. V této éře dominovaly stáje jako Alfa Romeo, Maserati a Ferrari.
    </p>

    <p>
        V 60. letech začala F1 zaznamenávat rychlý technologický pokrok. Přišly lehčí konstrukce, výkonnější motory a
        aerodynamika se stala klíčovou součástí vývoje. Týmy jako Lotus pod vedením Colina Chapmana přinášely průlomové
        inovace, například monokokovou konstrukci nebo efekt přísavného efektu.
    </p>

    <p>
        Sedmdesátá a osmdesátá léta byla charakteristická dramatickými souboji mezi stájemi jako McLaren, Ferrari a Williams.
        Do popředí se dostali legendární jezdci v čele s Nikim Laudou, Gillesem Villeneuvem a Ayrtonem Sennou. Tato éra
        však byla také poznamenána bojem za zvýšení bezpečnosti, protože mnoho jezdců přišlo při závodech o život.
    </p>

    <p>
        V 90. letech se Formule 1 dále profesionalizovala a začala používat pokročilou elektroniku, aktivní podvozky či
        kontrolu trakce. Dominantními osobnostmi byli Michael Schumacher a stáj Ferrari, která na začátku 2000. let získala
        sérii titulů díky kombinaci špičkové techniky a týmové strategie.
    </p>

    <p>
        Od roku 2010 vstoupila F1 do hybridní éry, kdy se začaly používat elektrifikované pohonné jednotky. Dominoval Mercedes
        s Lewisem Hamiltonem, který vytvořil mnoho rekordů. Dnes je Formule 1 technologickou laboratoří a sleduje směr
        udržitelnosti, inovací a globální expanze, přičemž stále zůstává jedním z nejsledovanějších sportů světa.
    </p>
</div>