@{
    ViewData["Title"] = "Home Page";
}


    <h1 class="nastred">Vítejte na mé stránce o F1</h1>
  
    <p class="text-blok">Formule 1 je vrcholem motoristického sportu – místem, kde se setkává špičková technologie, extrémní rychlost a lidská odvaha. Každý závodní víkend nabízí fascinující souboj týmů, inženýrů i jezdců, kteří posouvají hranice možného. F1 není jen o rychlých autech; je to svět plný strategie, inovací a příběhů, které inspirují fanoušky po celém světě. Na tomto webu najdete nejnovější informace, historii, zajímavosti i pohled do zákulisí tohoto jedinečného sportu.</p>
    <ul>
        <li>Red Bull Racing</li>
        <li>Mercedes-AMG Petronas F1 Team</li>
        <li>Scuderia Ferrari</li>
        <li>McLaren F1 Team</li>
        <li>Williams Racing</li>
        <li>Racing Bulls (Visa Cash App RB)</li>
        <li>Aston Martin Aramco F1 Team</li>
        <li>Haas F1 Team</li>
        <li>Kick Sauber</li>
        <li>Alpine F1 Team</li>
    </ul>

