@{
    ViewData["Title"] = "Týmy";
}

    <h1 class="nastred">Týmy a jezdci</h1>

   


    <div class="team">
        <div class="redbull">
            <h3>Red Bull Racing</h3>
            <p>Red Bull Racing je rakouský tým formule 1, který byl založen v roce 2005. Tým rychle získal reputaci jako jeden z nejúspěšnějších v historii F1 díky inovativním technologiím a talentovaným jezdcům. Mezi jejich nejvýznamnější jezdce patří Sebastian Vettel a Max Verstappen, kteří pro tým získali několik mistrovských titulů.</p>
        </div>
        <img src="~/obrazky/tymy/blue_cow.png" alt="Red Bull Racing" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="Mercedes">
            <h3>Mercedes-AMG Petronas Formula One Team</h3>
            <p>Mercedes-AMG Petronas je německý tým, který v posledních letech dominoval formuli 1. Tým získal několik konstruktérských a jezdeckých titulů díky jezdcům jako Lewis Hamilton a Valtteri Bottas. Mercedes je známý svými pokročilými technologiemi, silným inženýrským zázemím a pečlivým vývojem svých monopostů, což z něj dělá jednoho z nejrespektovanějších týmů v paddocku.</p>
        </div>
        <img src="~/obrazky/tymy/zilber.png" alt="Mercedes" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="Ferrari">
            <h3>Scuderia Ferrari</h3>
            <p>Scuderia Ferrari je italský tým s bohatou historií a nejstarší stáj v historii F1. Ferrari získalo mnoho konstruktérských a jezdeckých titulů díky legendárním jezdcům jako Michael Schumacher, Kimi Räikkönen a Sebastian Vettel. Tým je symbolem vášně pro motorsport a má nejpočetnější fanouškovskou základnu na celém světě.</p>
        </div>
        <img src="~/obrazky/tymy/demotivace.png" alt="Ferrari" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="McLaren">
            <h3>McLaren F1 Team</h3>
            <p>McLaren F1 Team je britský tým založený v roce 1963, který patří mezi nejúspěšnější stáje v historii. McLaren získal řadu titulů a proslavil se díky jezdcům jako Ayrton Senna, Alain Prost a Lewis Hamilton. Tým je známý svou inovativní filozofií, kvalitním inženýrstvím a stále se snaží vrátit na vrchol formule 1.</p>
        </div>
        <img src="~/obrazky/tymy/papaya_rules.png" alt="McLaren" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="Williams">
            <h3>Williams Racing</h3>
            <p>Williams Racing je britský tým založený v roce 1977 Frankem Williamsem. Patří mezi legendy F1 a má na kontě mnoho konstruktérských i jezdeckých titulů. Proslavil se díky jezdcům jako Nigel Mansell, Alain Prost a Damon Hill. Tým je známý svou oddaností závodní DNA a rodinnou atmosférou, i když v posledních letech bojuje o návrat na přední pozice.</p>
        </div>
        <img src="~/obrazky/tymy/williams.png" alt="Williams" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="RacingBulls">
            <h3>Racing Bulls (Visa Cash App RB)</h3>
            <p>Racing Bulls, dříve Toro Rosso a AlphaTauri, je italský tým, který funguje jako sesterská stáj Red Bullu. Soustředí se na vývoj mladých talentů a do F1 přivedl hvězdy jako Sebastian Vettel, Daniel Ricciardo či Max Verstappen. Tým je známý jako odrazový můstek pro nadcházející šampiony a hraje klíčovou roli v závodní strategii Red Bullu.</p>
        </div>
        <img src="~/obrazky/tymy/racing_balls.png" alt="Racing Bulls" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="AstonMartin">
            <h3>Aston Martin Aramco F1 Team</h3>
            <p>Aston Martin je britský tým, který se do F1 vrátil v roce 2021 po desetíkách let. Díky masivním investicím a modernímu zázemí míří mezi elitní týmy. Mezi nejznámější jezdce posledních let patří Fernando Alonso a Lance Stroll. Tým staví nové tovární zázemí a cílí na boj o mistrovské tituly v nadcházejících sezónách.</p>
        </div>
        <img src="~/obrazky/tymy/pay_to_win.webp" alt="Aston Martin" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="Haas">
            <h3>Haas F1 Team</h3>
            <p>Haas F1 Team je americká stáj působící v F1 od roku 2016. Tým je známý svým netradičním modelem spolupráce, zejména s Ferrari, kdy využívá co nejvíce nakupovaných komponentů. I přes menší rozpočet dokázal Haas několikrát překvapit silnými výkony a dokazuje, že i menší týmy mohou konkurovat zaběhnutým stájím díky chytré strategii.</p>
        </div>
        <img src="~/obrazky/tymy/AMERICA!.png" alt="Haas" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="Sauber">
            <h3>Kick Sauber</h3>
            <p>Kick Sauber, dříve Alfa Romeo, je švýcarský tým s dlouhou a bohatou historií v F1. Stáj je oceňována pro svou technickou preciznost a schopnost vyvíjet mladé talenty. V současnosti spolupracuje s Audi, které plánuje vstup do F1 jako tovární tým, což slibuje vzrušující budoucnost pro tuto tradiční stáj.</p>
        </div>
        <img src="~/obrazky/tymy/sauber.webp" alt="Kick Sauber" height="150" width="250">
    </div>
    <br>
    <div class="team">
        <div class="Alpine">
            <h3>Alpine F1 Team</h3>
            <p>Alpine F1 Team je francouzský tým reprezentující sportovní divizi Renaultu. Kombinuje inovativní technologie s rozvojem mladých jezdců a navazuje na úspěchy Renaultu, který má v historii F1 několik konstruktérských titulů. Tým se snaží vrátit se na přední pozice a znovu konkurovat největším stájím v paddocku formule 1.</p>
        </div>
        <img src="~/obrazky/tymy/traktor.webp" alt="Alpine" height="150" width="250">
    </div>
    <br><br><br>
    <table>
        <tr>
            <th>Pořadí</th>
            <th>Jezdec</th>
            <th>Země</th>
            <th>Tým</th>
            <th>Body</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Lando Norris</td>
            <td>GBR</td>
            <td>McLaren</td>
            <td>423</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Max Verstappen</td>
            <td>NED</td>
            <td>Red Bull Racing</td>
            <td>421</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Oscar Piastri</td>
            <td>AUS</td>
            <td>McLaren</td>
            <td>410</td>
        </tr>
        <tr>
            <td>4</td>
            <td>George Russell</td>
            <td>GBR</td>
            <td>Mercedes</td>
            <td>319</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Charles Leclerc</td>
            <td>MON</td>
            <td>Ferrari</td>
            <td>242</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Lewis Hamilton</td>
            <td>GBR</td>
            <td>Ferrari</td>
            <td>156</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Kimi Antonelli</td>
            <td>ITA</td>
            <td>Mercedes</td>
            <td>150</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Alexander Albon</td>
            <td>THA</td>
            <td>Williams</td>
            <td>73</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Carlos Sainz</td>
            <td>ESP</td>
            <td>Williams</td>
            <td>64</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Fernando Alonso</td>
            <td>ESP</td>
            <td>Aston Martin</td>
            <td>56</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Nico Hulkenberg</td>
            <td>GER</td>
            <td>Kick Sauber</td>
            <td>51</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Isack Hadjar</td>
            <td>FRA</td>
            <td>Racing Bulls</td>
            <td>51</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Oliver Bearman</td>
            <td>GBR</td>
            <td>Haas F1 Team</td>
            <td>41</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Liam Lawson</td>
            <td>NZL</td>
            <td>Racing Bulls</td>
            <td>38</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Esteban Ocon</td>
            <td>FRA</td>
            <td>Haas F1 Team</td>
            <td>38</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Lance Stroll</td>
            <td>CAN</td>
            <td>Aston Martin</td>
            <td>33</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Yuki Tsunoda</td>
            <td>JPN</td>
            <td>Red Bull Racing</td>
            <td>33</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Pierre Gasly</td>
            <td>FRA</td>
            <td>Alpine</td>
            <td>22</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Gabriel Bortoleto</td>
            <td>BRA</td>
            <td>Kick Sauber</td>
            <td>19</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Franco Colapinto</td>
            <td>ARG</td>
            <td>Alpine</td>
            <td>0</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Jack Doohan</td>
            <td>AUS</td>
            <td>Alpine</td>
            <td>0</td>
        </tr>
    </table>