@{
    ViewData["Title"] = "Profil";
}
@using Microsoft.AspNetCore.Http
<div class="nastred">

    <h1>Profil</h1>
    @{
        var username = Context.Session.GetString("username");
    }
    @if (!string.IsNullOrEmpty(username))
    {
        <p> Jste přihlášení jako <b>@username</b></p>
    }
    else
    {
        <div class="error">Nejste přihlášený. <a asp-controller="User" asp-action="Login">Přihlásit se</a></div>
    }

    <form action="/User/SignOut" method="post">
        <input type="submit" value="Odhlásit" />
    </form>
</div>
